/* Main */
.main {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 12%;
}
.main__container {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 4rem;
    text-align: center;
    align-items: center;
    width: 80%;
    box-shadow: 0rem 0.5rem 0.8rem var(--gray_40);
}
.main__title {
    margin-bottom: 0.4rem;
}
.main__paragraph {
    margin-top: 0.2rem;
}
.main__subtitle {
    margin-bottom: 0.4rem;
}

/* Media */
@media (max-width: 768px) {
    .main__container {
        width: 98%;
        padding: 6rem;
    }
}
@media (width: 1920px) {
    .main__container {
        margin-top: 6rem;
    }
}
