/* Variables */
:root {
    /* Primary color */ 
    --primary_green_900: #4BBD17;
    --primary_blue_100: #00304D;

    /* Secundary color */
    --secundary_green_950: #39A900;
    --secundary_green_200: #C9E8B9;

    /* Basic color */
    --white: #ffffff;
    --black: #000000;
    --gray_40: #c5c5c5;
    --gray_20: #f6f6f6;
    --gray-600: #676767;
    --new-gray: #929292;
}

/* Estilo global */
* {
    text-decoration: none;
}
a {
    color: var(--black);
}

/* Hack rem */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/* Estilos del body */
body {
    font-size: 1.6rem;
    font-family: "Work Sans", "Roboto";
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(var(--white), var(--gray_20), var(--gray_40)) no-repeat;
    background-attachment: fixed;
}

/* Headings */
h1 {font-size: 3.2rem;} h2 {font-size: 2.4rem;} h3 {font-size: 2.0rem;} h4 {font-size: 1.6rem;}

/* Hero */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.hero__logo {
    width: 10rem;
    height: 10rem;
}
.hero__title {
    color: var(--primary_blue_100);
}

/* User */
.user {
    display: flex;
    gap: 2.4rem;
}
.user__image {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 5rem;
}
.user__menu-title {
    margin-left: 0.6rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
}
.user__name {
    margin-top: 2rem;
}

/* Estilos generales de los botones */
button {
    width: 32rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary_green_900);
    color: var(--white);
    font-weight: bold;
}
button:hover {
    box-shadow: 0 0.3rem 1rem var(--primary_blue_100);
}
.button-end {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.button-end__return, .main__button {
    box-shadow: 0 0.3rem 1rem var(--white);
    margin-top: 2.4rem;
}
@media (max-width: 768px) {
    .button-end {
        justify-content: center;
        margin-right: 0;
    }
}

/* Estilos generales de los campos */
.main__field, .form__input, .form__field, .container__input {
    width: 32rem;
    height: 5.6rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--gray_20);
    box-shadow: 0rem 0.5rem 0.8rem var(--gray_40);
}
.main__field--email {
    margin-bottom: 2rem;
}
.main__password--link {
    text-align: end;
    color: var(--new-gray);
}
.form__input--large, .form__field--large {
    height: 15rem;
    margin-bottom: 30rem;
}
.group__field {
    height: 15rem;
    margin-bottom: 30rem;
}
.form__input--image, .form__input--description {
    height: 20rem;
}
@media (max-width: 1200px) {
    .form__input--large, .group__field, .form__field--large {
        margin-bottom: 4rem;
    }
}

/* Page Footer */
.footer-container {
    display: flex;
    justify-content: end;
    margin-top: 4rem;
}
.footer__return-button {
    width: 32rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--green_900);
    color: var(--white);
    font-weight: bold;
    margin-bottom: 4rem;
    border-bottom: 0.5rem solid var(--white);
}